.cards {
  width: calc(100% - (199px * 2));
  margin: 0 auto;
}

@media screen and (max-width: 1199.98px) {
  .cards {
    width: 582px;
  }
}

@media screen and (max-width: 767.98px) {
  .cards {
    width: calc(100% - (19px * 2));
  }
}

