.fullscreen-gallery {
  background-color: rgba(00, 00, 00, .9);
  position: fixed;
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
