.profile {
  width: calc(100% - (199px * 2));
  padding: 40px 199px 50px 199px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 1199.98px) {
  .profile {
    margin: 0 auto;
    padding: 0;
    width: 582px;
    padding: 40px 0 50px 0;
  }
}

@media screen and (max-width: 767.98px) {
  .profile {
    width: calc(100% - (19px * 2));
    min-height: 286px;
    flex-direction: column;
    padding: 38px 19px 36px 19px;
  }
}
