.header {
  width: calc(100% - (199px * 2));
  margin: 45px 199px 0 199px;
  padding-bottom: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
}

@media screen and (max-width: 1199.98px) {
  .header {
    margin: 0 auto;
    width: 582px;
    padding: 28px 0 30px 27px;
  }
}

@media screen and (max-width: 767.98px) {
  .header {
    margin: 0;
    width: 100%;
    padding: 28px 0 30px 27px;
  }
}

